# Preparação

In [1]:
#importando as bibliotecas
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [17]:
df

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [21]:
df.columns
# − rec_id: índice do registro de locação;
# − datetime: data; 
# − season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte;
# − year: ano (0: 2011, 1:2012); 
# − month: mês (1 a 12); 
# − hour: hora do dia (0 a 23); 
# − is_holiday: booleano indicando feriado; 
# − weekday: dia da semana (0: domingo, 1: segunda-feira, …, 6: sábado); 
# − is_workingday: booleano indicando dia útil; 
# − weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte); 
# − temp: Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39; 
# − atemp: Sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50; 
# − humidity: Humidade relativa (0 a 1); 
# − windspeed: Velocidade do vento escalada entre 0 e 1 (máximo original: 67); 
# − casual: número de locações para usuários casuais; 
# − registered: número de locações para usuários registrados; 
# − total_count: contador total de aluguéis (casual+registered).

Index(['datetime', 'rec_id', 'season', 'year', 'month', 'hour', 'is_holiday',
       'weekday', 'is_workingday', 'weather_condition', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual', 'registered', 'total_count'],
      dtype='object')

# Questões

## a. Qual o tamanho desse dataset?

In [11]:
print(df.shape)
print('o dataset tem ' + str(df.shape[0]) + ' linhas e ' + str(df.shape[1]) +' colunas')

(17379, 17)
o dataset tem 17379 linhas e 17 colunas

## b. Qual a média da coluna windspeed?

In [20]:
print(df['windspeed'].mean())
print(67*df['windspeed'].mean())

0.1900976063064631
12.736539622533028

## c. Qual a média da coluna temp?

In [22]:
print(df['temp'].mean())
print(47*df['temp'].mean()-8)

0.4969871684216586
15.358396915817952

## d. Quantos registros existem para o ano de 2011?

In [114]:
df[df['year']==0].shape

(8645, 17)

## e. Quantos registros existem para o ano de 2012?

In [115]:
df[df['year']==1].shape

(8734, 17)

## f. Quantas locações de bicicletas foram efetuadas em 2011?

In [38]:
df.loc[df['year']==0, 'total_count'].sum()

1243103

## g. Quantas locações de bicicletas foram efetuadas em 2012?

In [39]:
df.loc[df['year']==1, 'total_count'].sum()

2049576

## h. Qual estação do ano contém a maior média de locações de bicicletas?

In [117]:
season_dict = {1: 'inverno', 2:'primavera', 3:'verão', 4:'outono'}
total_per_season = df.groupby(by='season').mean().sort_values(by=['total_count'],ascending=False)['total_count']

print(total_per_season)
print('\na estação com maior média é: ' + str(season_dict[total_per_season.index[0]]))

season
3    236.016237
2    208.344069
4    198.868856
1    111.114569
Name: total_count, dtype: float64

a estação com maior média é: verão

## i. Qual estação do ano contém a menor média de locações de bicicletas?

In [75]:
print('\na estação com maior média é: ' + str(season_dict[total_per_season.index[-1]]))

a estação com maior média é: inverno

## j. Qual horário do dia contém a maior média de locações de bicicletas?

In [119]:
total_per_hour = df.groupby(by='hour').mean().sort_values(by=['total_count'],ascending=False)['total_count']

print(total_per_hour)
print('\na hora do dia com maior média é: ' + str(total_per_hour.index[0]) + 'h')

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

a hora do dia com maior média é: 17h

## k. Qual horário do dia contém a menor média de locações de bicicletas?

In [85]:
print('\na hora do dia com maior média é: ' + str(total_per_hour.index[-1]) + 'h')

a hora do dia com maior média é: 4h

## l. Que dia da semana contém a maior média de locações de bicicletas?

In [121]:
total_per_weekday = df.groupby(by='weekday').mean().sort_values(by=['total_count'],ascending=False)['total_count']
weekday_dict = {0: 'domingo', 1: 'segunda-feira', 2: 'terça-feira', 3: 'quarta-feira', 
                4: 'quinta-feira', 5: 'sexta-feira', 6: 'sábado'}

print(total_per_weekday)
print('\no dia com maior média é: ' + str(weekday_dict[total_per_weekday.index[0]]))

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

o dia com maior média é: quinta-feira

## m. Que dia da semana contém a menor média de locações de bicicletas?

In [90]:
print('\no dia com maior média é: ' + str(weekday_dict[total_per_weekday.index[-1]]))

o dia com maior média é: domingo

## n. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

In [112]:
total_per_hour_quarta = df[df['weekday']==3].groupby(by='hour').mean().sort_values(by=['total_count'],ascending=False)['total_count']

print(total_per_hour_quarta)
print('\na hora do dia com maior média às quartas é: ' + str(total_per_hour_quarta.index[0]) + 'h')

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

a hora do dia com maior média às quartas é: 17h

## o. Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

In [113]:
total_per_hour_sabado = df[df['weekday']==6].groupby(by='hour').mean().sort_values(by=['total_count'],ascending=False)['total_count']

print(total_per_hour_sabado)
print('\na hora do dia com maior média às quartas é: ' + str(total_per_hour_sabado.index[0]) + 'h')

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64

a hora do dia com maior média às quartas é: 13h

# Questionário